*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-family: math;
}

.head h2 a {
    color: black;
    font-size: 30px;
    position: absolute;
}

.navbar ul {
   margin-left: 800px;
}

.navbar li {
    display: inline;
}

.navbar li a {
    margin: 20px;
    color: black;
    font-weight: 900;
    font-size: 22px;
}

button {
    position: absolute;
    background-color: black;
    padding: 2px;
    width: 100px;
    border-radius: 5px;
    margin: 0 0 0 10px;
}

button a {
    color: white;
}