*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    list-style: none;
}

.navbar ul{
    margin: 20px 0 0 550px;
}

.navbar li{
    list-style: none;
    display: inline;
    margin: 0 0 0 40px;
}

.navbar li a{
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.navbar li a:hover{
    color: rgb(139, 139, 139);
    transition: 0.4s ease;
    text-decoration: underline;
}